<html>
	<head>
		<title> Sign Up Details </title>
	</head>
	<body>
		{% extends 'DetailsApp/base.html' %}
			{% block content %}
				<h1> Edit Your Form </h1>
				<form method = 'POST'>
					Email <input type = 'text' name = 'Email' value = '{{data.Email}}'> <br>
					Phone No <input type = 'text' name = 'Phone_No' value = '{{data.Phone_No}}'> <br>
					Password <input type = 'text' name = 'Password' value = '{{data.Password}}'> <br>
					{% csrf_token %}
					<input type = 'submit' value = 'Submit Form'>
				</form>
			{% endblock %}
	<body>
</html>